- content_for :nav do
  = link_to '&larr; back to lists'.html_safe, lists_path

= form_for @list do |f|
  = error_messages_for @list
  
  %p
    = f.label :name
    %br
    = f.text_field :name
  %p
    = f.label :description
    %br
    = f.text_field :description 
  
  %p
    = f.label :occurs_on
    %br
    = f.text_field :occurs_on
  
  %h2 Gifts
  
  %table#gifts
    %tr
      %th Quantity
      %th Name
      %th Price
      %th Weblink
      %th
    = f.fields_for :gifts do |gift|
      = render 'gift_fields', :f => gift
  %p= link_to_add_association 'Add a gift', f, :gifts,
    :data => {:'association-insertion-node'   => 'table#gifts',
              :'association-insertion-method' => 'append' }
  
  %h2 Invites
  
  %table#invites
    %tr
      %th Name (optional)
      %th Email
      %th
    = f.fields_for :invites do |invite|
      = render 'invite_fields', :f => invite
  %p= link_to_add_association 'Invite a friend', f, :invites,
    :data => {:'association-insertion-node'   => 'table#invites',
              :'association-insertion-method' => 'append' }
  
  #controls
    = f.submit
    - if @list.persisted?
      = link_to "Delete this list", @list, 
        :method => 'delete', data: {confirm: 'Are you sure?'}
  