- title @list.name
- content_for :nav do
  = link_to '&larr; back to lists'.html_safe, lists_path
  
#list-show
  #info
    %h1= @list.name
    - unless @list.description.blank?
      %h3= @list.description
    %strong= @list.occurs_on

  - if current_user.claims.empty?
    #help-message
      %strong Reserving your first gift:
      %p
        To reserve a gift you would like to get for #{@list.user.name}, 
        just click 
        %strong claim
        next to the gift's name.
      %p
        Once you've selected a gift it will be moved to your claimed gifts list at the bottom of the page. If you decide not to get that gift simply 
        click
        %strong return
        and it and it will return to the available gifts list at the top of the page!
  
  %h4 Available
      
  %table.gifts.no-claimed-by
    - @available.each do |gift|
      = render 'gift', :gift => gift
    
  - if @current_user_claimed.any?
    %h4 Claimed by you

    %table.gifts.no-claimed-by
      - @current_user_claimed.each do |gift|
        = render 'gift', :gift => gift
    
  - if @other_claimed.any?
    %h4 Claimed by others

    %table.gifts.no-claim
      - @other_claimed.each do |gift|
        = render 'gift', :gift => gift