%h1 Sign into Gift List

%p
  = link_to "Sign in with Twitter", "/auth/twitter", :class => "zocial twitter"
  = link_to "Sign in with Facebook", "/auth/facebook", :class => "zocial facebook"

%p
  Don't use those services? #{link_to "Create an account", new_identity_path}
  or sign in below.

= form_tag "/auth/identity/callback" do
  %p
    = label_tag :auth_key, "Email"
    %br
    = text_field_tag :auth_key
  %p
    = label_tag :password
    %br
    = password_field_tag :password

  %p
    = submit_tag "Sign in"
    %span{style: 'margin-left: 10px;'}
      Forgot your password?
      = link_to "Reset it here", new_password_reset_path
