!!! Strict
%html
  %head
    %title
      = yield(:title).blank? ? controller_name.humanize : yield(:title)
      - if yield(:hide_name).blank?
        \- Simple Gift List


    = stylesheet_link_tag 'application'
    = javascript_include_tag 'application'
    = csrf_meta_tag

    = yield(:header_bottom)

  %body{:class => "#{controller.controller_name}-#{controller.action_name}"}
    %header
      = render "shared/nav",    :current_user => current_user
      = render "shared/flash",  :flash        => flash
    #content
      = image_tag "bow.png", :class => "bow"
      .banner
      = yield