!!! Strict
%html
  %head
    %title
      = yield(:title).blank? ? controller_name.humanize : yield(:title)
      = unless yield(:hide_name)
        \- Lists


    = stylesheet_link_tag 'application'
    = javascript_include_tag 'application'
    = csrf_meta_tag

    = yield(:header_bottom)

  %body
    = render "shared/current_user", :current_user => current_user
    = render "shared/flash",        :flash        => flash
    = yield